name: build

on: [push, pull_request]

jobs:
  test-github:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: ['1.6']
        julia-arch: [x64]
        os: [ubuntu-latest,macos-latest,windows-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.julia-version }}
      - run: julia --color=yes --project=.ci .ci/ci.jl basic
  test-moonshot:
    runs-on: self-hosted
    strategy:
      matrix:
        julia-version: ['1.6.1']
    env:
      JULIA_VERSION: ${{matrix.julia-version}}
    steps:
      - uses: actions/checkout@v2
      - run: julia-${JULIA_VERSION} --color=yes --project=.ci .ci/ci.jl full
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: src,lib/MadNLPGPU/src,lib/MadNLPHSL/src,lib/MadNLPPardiso/src,lib/MadNLPMumps/src,lib/MadNLPKrylov/src,lib/MadNLPGraphs
      - uses: codecov/codecov-action@v1
        with:
          file: lcov.info
